<apx-chart *ngIf="pieChartOptions"
[series]="pieChartOptions.series"
[colors]="pieChartOptions.colors"
[chart]="pieChartOptions.chart"
[xaxis]="pieChartOptions.xaxis"
[yaxis]="pieChartOptions.yaxis"
[title]="pieChartOptions.title"
[dataLabels]="pieChartOptions.dataLabels"
[stroke]="pieChartOptions.stroke"
[grid]="pieChartOptions.grid"
[tooltip]="pieChartOptions.tooltip"
[plotOptions]="pieChartOptions.plotOptions"
[fill]="pieChartOptions.fill"
[legend]="pieChartOptions.legend"
[labels]="pieChartOptions.labels"
[markers]="pieChartOptions.markers"
[theme]="pieChartOptions.theme"
[responsive]="pieChartOptions.responsive"
></apx-chart>
<!-- <apx-chart
[series]="lineAreaChartOptions.series"
[colors]="lineAreaChartOptions.colors"
[chart]="lineAreaChartOptions.chart"
[xaxis]="lineAreaChartOptions.xaxis"
[yaxis]="lineAreaChartOptions.yaxis"
[title]="lineAreaChartOptions.title"
[dataLabels]="lineAreaChartOptions.dataLabels"
[stroke]="lineAreaChartOptions.stroke"
[grid]="lineAreaChartOptions.grid"
[tooltip]="lineAreaChartOptions.tooltip"
[plotOptions]="lineAreaChartOptions.plotOptions"
[fill]="lineAreaChartOptions.fill"
[legend]="lineAreaChartOptions.legend"
[labels]="lineAreaChartOptions.labels"
[markers]="lineAreaChartOptions.markers"
[theme]="lineAreaChartOptions.theme"
[responsive]="lineAreaChartOptions.responsive"
></apx-chart> -->