<!--Registration Page Starts-->
<section id="regestration">
    <div class="row auth-height full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body auth-img">
                        <div class="row m-0">
                            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                                <img src="assets/img/gallery/register.png" alt="" class="img-fluid" width="350" height="230">
                            </div>
                            <div class="col-lg-6 col-md-12 px-4 py-3">
                                <h4 class="card-title mb-2">Recupero password</h4>
                                <p>Compila il form per aggiornare la password per il tuo utente.</p>
                                <p>La nuova password deve contenere almeno 8 caratteri alfanumerici (minuscole e maiuscole) ed un carattere speciale (#,%,*).</p>

                                <form [formGroup]="resetForm">
                                    <div class="form-group">
                                        <input type="hidden" formControlName="token" class="form-control mb-2" placeholder="Reset Token" required>
                                        <div *ngIf="(rf.token.invalid || rf.token.errors?.required) || (rf.user.invalid || rf.user.errors?.required)" class="help-block mt-1 mb-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Url di reset della password invalido, perfavore ripeti la procedura di password dimenticata per ottenere un nuovo link di recupero
                                        </div>
                                        <input type="text" formControlName="user" class="form-control mb-2" placeholder="Name" [ngClass]="{ 'is-invalid': resetFormSubmitted && rf.user.invalid, 'is-valid': resetFormSubmitted && !rf.user.invalid }" required disabled>
                                        <div *ngIf="(rf.user.invalid || rf.user.errors?.required)" class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Utente obbligatorio</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="newPasswd" class="form-control mb-2" placeholder="New Password" [ngClass]="{ 'is-invalid': resetFormSubmitted && rf.newPasswd.invalid, 'is-valid': resetFormSubmitted && !rf.newPasswd.invalid }" required>
                                        <div *ngIf="resetFormSubmitted && (rf.newPasswd.errors?.required)" class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Password obbligatoria
                                        </div>
                                        <div *ngIf="resetFormSubmitted && (!rf.newPasswd.errors?.required && rf.newPasswd.errors?.minlength)" class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> La password deve contenere almeno 8 caratteri
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="confirmPassword" class="form-control mb-2" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': resetFormSubmitted && rf.confirmPassword.invalid, 'is-valid': resetFormSubmitted && !rf.confirmPassword.invalid }"
                                            required>
                                        <div *ngIf="resetFormSubmitted && (rf.confirmPassword.errors?.required)" class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> La conferma password è obbligatoria
                                        </div>
                                        <div *ngIf="resetFormSubmitted && (rf.confirmPassword.errors?.mustMatch)" class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Le password inserite devono coincidere
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- <div class="checkbox auth-checkbox  ">
                    <input type="checkbox" id="auth-login" formControlName="acceptTerms" class="form-control">
                    <label for="auth-login"><span class="font-small-2 mb-3 font-weight-normal">I accept the terms & conditions</span></label>
                    <div *ngIf="resetFormSubmitted && (rf.acceptTerms.invalid || rf.acceptTerms.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Accept Ts & Cs is required
                    </div>
                  </div> -->
                                    </div>
                                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                                        <a [routerLink]="['/pages/login']" class="btn bg-light-primary mb-2 mb-sm-0">Ritorna al Login</a>
                                        <a class="btn btn-primary" (click)="onSubmit()">Conferma</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Registration Page Ends-->