<ngx-spinner name="spinnerMezziQuick">
  <p style="color: white; font-size: 22px;">Attendi... </p>
</ngx-spinner>
<div #content>
  <div class="modal-header">
    <h4 class="modal-title">Aggiungi Mezzo</h4>
    <!-- <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <form #mezzoForm="ngForm">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Descrizione</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. Furgone"
            [(ngModel)]="nuovomezzo.description" name="descrizione" #descrizione="ngModel" title="" required>
          <small class="form-text text-muted danger" *ngIf="descrizione.errors?.required">Campo
            obbligatorio</small>
        </div>
        <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Brand</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. Fiat"
            [(ngModel)]="nuovomezzo.brand" name="brand" #brand="ngModel" title="">
        </div>
        <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Modello</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. 500X"
            [(ngModel)]="nuovomezzo.model" name="modello" #modello="ngModel" title="">
        </div>
        <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Targa/Matricola</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CV504KL"
            [(ngModel)]="nuovomezzo.licensePlate" name="targa" #targa="ngModel"
            (ngModelChange)="nuovomezzo.licensePlate=nuovomezzo.licensePlate.toUpperCase()" title="">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
          <br>
          <label for="exampleFormControlInput1" class="form-label">Costo giornaliero</label>
          <div class="input-group">
            <input type="number" class="form-control" min=0 id="exampleFormControlInput1" placeholder=""
              [(ngModel)]="nuovomezzo.dailyCost" title="" name="costogiornaliero" #costogiornaliero="ngModel">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">€/giorno</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </form>
  </div>
  <!-- parte in basso -->
  <div class="modal-footer">
    <button type="button" [disabled]="!mezzoForm.valid" class="btn bg-light-success mr-1 type-success mb-1 mb-sm-0"
      (click)="creaMezzo()">Conferma
    </button>
    <button type="button" class="btn btn-light" (click)="this.mezzoAdded.emit(false)">Chiudi</button>
  </div>
</div>
