<apx-chart *ngIf="lineChartOptions"
[series]="lineChartOptions.series"
[colors]="lineChartOptions.colors"
[chart]="lineChartOptions.chart"
[xaxis]="lineChartOptions.xaxis"
[yaxis]="lineChartOptions.yaxis"
[title]="lineChartOptions.title"
[dataLabels]="lineChartOptions.dataLabels"
[stroke]="lineChartOptions.stroke"
[grid]="lineChartOptions.grid"
[tooltip]="lineChartOptions.tooltip"
[plotOptions]="lineChartOptions.plotOptions"
[fill]="lineChartOptions.fill"
[legend]="lineChartOptions.legend"
[labels]="lineChartOptions.labels"
[markers]="lineChartOptions.markers"
[theme]="lineChartOptions.theme"
[responsive]="lineChartOptions.responsive"
></apx-chart>
<!-- <apx-chart
[series]="lineAreaChartOptions.series"
[colors]="lineAreaChartOptions.colors"
[chart]="lineAreaChartOptions.chart"
[xaxis]="lineAreaChartOptions.xaxis"
[yaxis]="lineAreaChartOptions.yaxis"
[title]="lineAreaChartOptions.title"
[dataLabels]="lineAreaChartOptions.dataLabels"
[stroke]="lineAreaChartOptions.stroke"
[grid]="lineAreaChartOptions.grid"
[tooltip]="lineAreaChartOptions.tooltip"
[plotOptions]="lineAreaChartOptions.plotOptions"
[fill]="lineAreaChartOptions.fill"
[legend]="lineAreaChartOptions.legend"
[labels]="lineAreaChartOptions.labels"
[markers]="lineAreaChartOptions.markers"
[theme]="lineAreaChartOptions.theme"
[responsive]="lineAreaChartOptions.responsive"
></apx-chart> -->