<ngx-spinner>
    <app-spinner></app-spinner>
</ngx-spinner>
<style>
    * {
        box-shadow: unset !important;
    }
</style>
<button class="btn btn-primary" (click)="downloadPdf()">Scarica Tabella in PDF</button>
<!-- Filter Datatables -->
<section id="ngx-datatable-inventariogenerale">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Inventario generale</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <div class="row mb-2">
                            <!-- Campo di ricerca -->
                            <div class="col">
                                <div class="form-group">
                                    <label for="ngx-filter-ref">Cerca:</label>
                                    <input id="ngx-filter-ref" class="form-control form-control-sm" type="text"
                                        placeholder="Filtra la colonna Categoria..." (keyup)="filterUpdate($event)" />
                                </div>
                            </div>

                            <!-- Selector for number of rows to show -->
                            <div class="col">
                                <div class="form-group">
                                    <label for="row-selector" class="mr-1">Mostra:</label>
                                    <select id="row-selector" class="form-control form-control-sm" [(ngModel)]="limit">
                                        <option value="10">10 elementi</option>
                                        <option value="25">25 elementi</option>
                                        <option value="50">50 elementi</option>
                                        <option value="100">100 elementi</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Tasto "Aggiungi" -->
                            <div class="col">
                                <button class="btn btn-primary" (click)="openLg(content)">Aggiungi</button>
                            </div>
                        </div>

                        <!-- [sorts]="[{prop: 'nota.id', dir: 'asc'}]" -->
                        <!-- il campo limit serve per imopstare quante righe della tabella compaiono per ogni pagina -->
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="columnMode.force"
                            [headerHeight]="60" [footerHeight]="50" rowHeight="50" [limit]="limit" [rows]="inventario"
                            [scrollbarH]="true" [sorts]="[{prop: 'id', dir: 'desc'}]"
                            [messages]="{emptyMessage: 'Nessun dato ad mostrare', selectedMessage: 'selezionat*', totalMessage: 'totali'}">


                            <!-- <ngx-datatable-column [headerCheckboxable]="false" [checkboxable]="false" name="id"
                                prop="id" [width]="50"></ngx-datatable-column> -->
                            <ngx-datatable-column name="Categoria" prop="category" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="Descrizione" prop="description" [width]="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Unità di misura" prop="um" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="Quantità" prop="quantity" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="Posizione" prop="position" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="Azioni" [width]="70">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <!-- <i class="ft-edit text-primary cursor-pointer" (click)="goToDashboard(row)"></i> -->
                                    <i class="ft-edit fs-6 text-primary cursor-pointer" (click)="onEdit(row, modify)"
                                        title="Modifica"></i>
                                    <i class="ft-trash fs-6 text-primary cursor-pointer" style="padding-left: 0.5rem;"
                                        (click)="deleteInventarioGenerale(row)" title="Elimina"></i>
                                </ng-template>
                            </ngx-datatable-column>


                        </ngx-datatable>
                        <!-- ngx-datatable-filter -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- inizio popup di creazione -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Aggiungi all'inventario generale</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #IGForm="ngForm">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Posizione</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. Soppalco"
                        [(ngModel)]="nuovoInventarioGenerale.position" name="posizione" #posizione="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="" required>
                    <small class="form-text text-muted danger" *ngIf="posizione.errors?.required">Campo
                        obbligatorio</small>
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Es. idraulica,Legname,.." [(ngModel)]="nuovoInventarioGenerale.category"
                        name="categoria" #categoria="ngModel" (ngModelChange)="validationForm(IGdForm)" title=""
                        required>
                    <small class="form-text text-muted danger" *ngIf="categoria.errors?.required">Campo
                        obbligatorio</small>
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Descrizione</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""
                        [(ngModel)]="nuovoInventarioGenerale.description" name="descrizione" #descrizione="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="" required>
                    <small class="form-text text-muted danger" *ngIf="descrizione.errors?.required">Campo
                        obbligatorio</small>
                </div>

            </div>

            <div class="row">

                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Unità di misura</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. mc, n, ..."
                        [(ngModel)]="nuovoInventarioGenerale.um" name="um" #um="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="">
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Quantità</label>
                    <input type="number" min="0" class="form-control" id="exampleFormControlInput1" placeholder=""
                        [(ngModel)]="nuovoInventarioGenerale.quantity" name="quantita" #quantita="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="" required>
                    <small class="form-text text-muted danger" *ngIf="quantita.errors?.required">Campo
                        obbligatorio</small>
                </div>

            </div>

        </form>
    </div>
    <!-- parte in basso -->
    <div class="modal-footer">

        <button *ngIf="!fff" type="button" class="btn bg-light-info mr-1 type-success mb-1 mb-sm-0"
            disabled>Conferma</button>
        <!-- bottone crea nota -->
        <button *ngIf="fff==true" type="button" class="btn bg-light-success mr-1 type-success mb-1 mb-sm-0"
            (click)="creaInventarioGenerale()" (click)="modal.close('Close click')">Conferma</button>

        <button type="button" class="btn btn-light" (click)="modal.close('Close click')"
            (click)="clearData()">Chiudi</button>
    </div>


</ng-template>
<!-- fine popup di creazione -->
<!-- inizio popup di view -->
<ng-template #view let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Inventario generale</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #IGForm="ngForm">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Posizione</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [(ngModel)]="nuovoInventarioGenerale.position" name="posizione" #posizione="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="" disabled>

                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [(ngModel)]="nuovoInventarioGenerale.category" name="categoria" #categoria="ngModel"
                        (ngModelChange)="validationForm(IGdForm)" title="" disabled>
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Descrizione</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [(ngModel)]="nuovoInventarioGenerale.description" name="descrizione" #descrizione="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="" disabled>

                </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Unità di misura</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [(ngModel)]="nuovoInventarioGenerale.um" name="um" #um="ngModel"
                        (ngModelChange)="validationForm(IGForm)" title="" disabled>
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Quantità</label>
                    <input type="number" min="0" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [ngModel]="nuovoInventarioGenerale.quantity | number:'1.0-2':'it-IT'" name="quantita"
                        #quantita="ngModel" (ngModelChange)="validationForm(IGForm)" title="" disabled>

                </div>

            </div>

        </form>
    </div>
    <!-- parte in basso -->
    <div class="modal-footer">

        <button type="button" class="btn btn-light" (click)="modal.close('Close click')"
            (click)="clearData()">Chiudi</button>
    </div>


</ng-template>

<!-- inizio popup di modifica-->
<ng-template #modify let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modifica Elemento Inventario generale</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #IGMOdifyForm="ngForm">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Posizione</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. Soppalco"
                        [(ngModel)]="nuovoInventarioGenerale.position" name="posizione" #posizione="ngModel"
                        (ngModelChange)="validationForm(IGMOdifyForm)" title="" required>
                    <small class="form-text text-muted danger" *ngIf="posizione.errors?.required">Campo
                        obbligatorio</small>

                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Es. idraulica,Legname,.." [(ngModel)]="nuovoInventarioGenerale.category"
                        name="categoria" #categoria="ngModel" (ngModelChange)="validationForm(IGMOdifyForm)" title=""
                        required>
                    <small class="form-text text-muted danger" *ngIf="categoria.errors?.required">Campo
                        obbligatorio</small>
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Descrizione</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [(ngModel)]="nuovoInventarioGenerale.description" name="descrizione" #descrizione="ngModel"
                        (ngModelChange)="validationForm(IGMOdifyForm)" title="" required>
                    <small class="form-text text-muted danger" *ngIf="descrizione.errors?.required">Campo
                        obbligatorio</small>

                </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Unità di misura</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Es. mc, n, ..."
                        [(ngModel)]="nuovoInventarioGenerale.um" name="um" #um="ngModel"
                        (ngModelChange)="validationForm(IGMOdifyForm)" title="">
                </div>
                <div class="col-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Quantità</label>
                    <input type="number" min="0" class="form-control" id="exampleFormControlInput1" placeholder="/"
                        [(ngModel)]="nuovoInventarioGenerale.quantity" name="quantita" #quantita="ngModel"
                        (ngModelChange)="validationForm(IGMOdifyForm)" title="">

                </div>

            </div>

        </form>
    </div>
    <!-- parte in basso -->
    <div class="modal-footer">
        <button *ngIf="!fff" type="button" class="btn bg-light-info mr-1 type-success mb-1 mb-sm-0" disabled>Conferma
            Modifica</button>
        <button *ngIf="fff" type="button" class="btn bg-light-success mr-1 type-success mb-1 mb-sm-0"
            (click)="updateInventario()" (click)="modal.close('Close click')">Conferma Modifica</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')"
            (click)="clearData()">Chiudi</button>
    </div>


</ng-template>
