<apx-chart
[series]="donutChartOptions.series"
[colors]="donutChartOptions.colors"
[chart]="donutChartOptions.chart"
[xaxis]="donutChartOptions.xaxis"
[yaxis]="donutChartOptions.yaxis"
[title]="donutChartOptions.title"
[dataLabels]="donutChartOptions.dataLabels"
[stroke]="donutChartOptions.stroke"
[grid]="donutChartOptions.grid"
[tooltip]="donutChartOptions.tooltip"
[plotOptions]="donutChartOptions.plotOptions"
[fill]="donutChartOptions.fill"
[legend]="donutChartOptions.legend"
[labels]="donutChartOptions.labels"
[markers]="donutChartOptions.markers"
[theme]="donutChartOptions.theme"
[responsive]="donutChartOptions.responsive"
></apx-chart>