<apx-chart *ngIf="barChartOptions"
[series]="barChartOptions.series"
[colors]="barChartOptions.colors"
[chart]="barChartOptions.chart"
[xaxis]="barChartOptions.xaxis"
[yaxis]="barChartOptions.yaxis"
[title]="barChartOptions.title"
[dataLabels]="barChartOptions.dataLabels"
[stroke]="barChartOptions.stroke"
[grid]="barChartOptions.grid"
[tooltip]="barChartOptions.tooltip"
[plotOptions]="barChartOptions.plotOptions"
[fill]="barChartOptions.fill"
[legend]="barChartOptions.legend"
[labels]="barChartOptions.labels"
[markers]="barChartOptions.markers"
[theme]="barChartOptions.theme"
[responsive]="barChartOptions.responsive"
></apx-chart>
<!-- <apx-chart
[series]="lineAreaChartOptions.series"
[colors]="lineAreaChartOptions.colors"
[chart]="lineAreaChartOptions.chart"
[xaxis]="lineAreaChartOptions.xaxis"
[yaxis]="lineAreaChartOptions.yaxis"
[title]="lineAreaChartOptions.title"
[dataLabels]="lineAreaChartOptions.dataLabels"
[stroke]="lineAreaChartOptions.stroke"
[grid]="lineAreaChartOptions.grid"
[tooltip]="lineAreaChartOptions.tooltip"
[plotOptions]="lineAreaChartOptions.plotOptions"
[fill]="lineAreaChartOptions.fill"
[legend]="lineAreaChartOptions.legend"
[labels]="lineAreaChartOptions.labels"
[markers]="lineAreaChartOptions.markers"
[theme]="lineAreaChartOptions.theme"
[responsive]="lineAreaChartOptions.responsive"
></apx-chart> -->